@{
    ViewBag.Title = "DeducInsDetailList";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    var taskEntryId = $.request("taskEntryId");

    $(function () {
        gridList();
    })
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/SystemManage/SanitationTaskUpload/GetGridDedutJson",
            postData: { taskEntryId: taskEntryId },
            height: $(window).height() - 128,
            colModel: [
                { label: '主键', name: 'DeducIns_Id', hidden: true },
                { label: '大类名称', name: 'SCEntryName', width: 80, align: 'left', sortable: false },
                { label: '中类名称', name: 'SCTypeName', width: 80, align: 'left', sortable: false },
                { label: '小类名称', name: 'SCClassifyName', width: 80, align: 'left', sortable: false },
                { label: '检查项目', name: 'SCNormProjectName', width: 150, align: 'left', sortable: false },
                { label: '评分标准', name: 'SCNormStandardName', width: 150, align: 'left', sortable: false },
                {
                    label: '几处', name: 'DeductionSeveral', width: 80, align: 'left', sortable: false, formatter: function (cellvalue, options, rowObject) {
                        return cellvalue + "处";
                    }
                },
                {
                    label: '扣分', name: 'DeductionScore', width: 80, align: 'left', sortable: false, formatter: function (cellvalue, options, rowObject) {
                        return cellvalue + "分";
                    }
                },
                { label: '评分人员', name: 'CreatorUserName', width: 80, align: 'left', sortable: false }
            ],
            pager: "#gridPager",
            sortname: 'CreateTime desc',
            viewrecords: true
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val(), taskEntryId: taskEntryId },
            }).trigger('reloadGrid');
        });
    }
    function btn_DeduclnsDetail()
    {
        
        var DeducIns_Id = $("#gridList").jqGridRowValue().DeducIns_Id;

        if (DeducIns_Id==null)
        {
            $.modalMsg("请选中要操作的行!", "warning");
            return;
        }

        $.modalOpen({
            id: "DeductForm",
            title: "扣分详情",
            url: "/SystemManage/TaskDistributing/DeducInsDetail?DeducIns_Id=" + DeducIns_Id,
            width: "800px",
            height: "750px",
            btn: null
        });
    }
</script>


@*<input type=button value="后退" onclick="window.history.back()">
<input type=button value="扣分详情" onclick="btn_DeduclnsDetail()">*@
<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a id="NF-add" class="btn btn-primary dropdown-text" onclick="window.history.back()"><i class="glyphicon glyphicon-chevron-left"></i>后退</a>
        </div>
        <div class="btn-group">
            <a id="NF-add" class="btn btn-primary dropdown-text" onclick="btn_DeduclnsDetail()"><i class="glyphicon glyphicon-send"></i>扣分详情</a>
        </div>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="大类/中类/小类/检查项目/评分标准" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>
