@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        TooltipCheckPointCount();
        if (!!keyValue) {
            $.ajax({
                url: "/SystemManage/TaskDistributing/GetFormJson?keyValue=" + keyValue,
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }


    });
    function initControl() {

        selectChange()


        $("#CityId").bindSelect({
            url: "/SystemManage/City/GetEnableGridJson",
            id: "F_Id",
            text: "CityName"
        });

        $("#CountyId").bindSelect({
            url: "/SystemManage/County/GetEnableGridJson",
            id: "F_Id",
            text: "CountyName"
        });

        $("#CompanyId").bindSelect({
            url: "/SystemManage/OperationsCompany/GetCompanyTypeJDEnableGridJson",
            id: "Key",
            text: "Value"
        });

        $("#PersonInChargeId").bindSelect({
            url: "/SystemManage/TaskDistributing/GetUserEnableGridByOutworker",
            id: "Key",
            text: "Value"
        });

        $("#StreetId").bindSelect({
            url: "/SystemManage/Street/GetEnableGridJsonByCountyId_CompanyId",
            param: { CountyId: $("#CountyId").val(), CompanyId: $("#CompanyId").val() },
            id: "Key",
            text: "Value"
        });
        $("#MainWayId").bindSelect({
            url: "/SystemManage/MainWay/GetEnableGridJsonByStreetId",
            param: { StreetId: $("#StreetId").val() },
            id: "Key",
            text: "Value"
        });

        $("#wayId").bindSelect({
            url: "/SystemManage/TaskDistributing/GetWayEnableGridJsonByMainWay",
            param: { mainWayId: $("#MainWayId").val() },
            id: "Key",
            text: "Value"
        });

        $("#MainWayId").select2({
            language: 'zh-CN',//转为中文版

        });

        $("#wayId").select2({
            language: 'zh-CN',//转为中文版
        });

    }
    function selectChange() {
        $("#CompanyId").change(function () {
            $("#StreetId").html("");

            $("#StreetId").bindSelect({
                url: "/SystemManage/Street/GetEnableGridJsonByCountyId_CompanyId",
                param: { CountyId: $("#CountyId").val(), CompanyId: $("#CompanyId").val() },
                id: "Key",
                text: "Value"
            });

            $("#StreetId").select2({
                language: 'zh-CN',//转为中文版
            });

            //区县发生变化出发街道更改事件
            $("#StreetId").trigger("change");
        });

        $("#CountyId").change(function () {
            $("#StreetId").html("");

            $("#StreetId").bindSelect({
                url: "/SystemManage/Street/GetEnableGridJsonByCountyId_CompanyId",
                param: { CountyId: $("#CountyId").val(), CompanyId: $("#CompanyId").val() },
                id: "Key",
                text: "Value"
            });

            $("#StreetId").select2({
                language: 'zh-CN',//转为中文版
            });

            //区县发生变化出发街道更改事件
            $("#StreetId").trigger("change");
        });

        $("#StreetId").change(function () {

            //提示当前数量
            TooltipCheckPointCount();


            $("#MainWayId").html("");

            $("#MainWayId").bindSelect({
                url: "/SystemManage/MainWay/GetEnableGridJsonByStreetId",
                param: { StreetId: $("#StreetId").val() },
                id: "Key",
                text: "Value"
            });

            $("#MainWayId").select2({
                language: 'zh-CN',//转为中文版

            });

            //街道变化时出发主路更改事件
            $("#MainWayId").trigger("change");
        });

        $("#MainWayId").change(function () {

            $("#wayId").html("");

            $("#wayId").bindSelect({
                url: "/SystemManage/TaskDistributing/GetWayEnableGridJsonByMainWay",
                param: { mainWayId: $("#MainWayId").val() },
                id: "Key",
                text: "Value"
            });

            $("#wayId").select2({
                language: 'zh-CN',//转为中文版
            });
        });
    }
    function TooltipCheckPointCount() {
        $.ajax({
            url: "/SystemManage/TaskDistributing/GetCheckPointCount",
            data: { streetId: $("#StreetId").val() },
            dataType: "json",
            async: false,
            success: function (data) {
                $("#TandasCount").attr('title', data.TandasCount + "座").tooltip('fixTitle');

                $("#CesspoolCount").attr('title', data.CesspoolCount + "座").tooltip('fixTitle');

                $("#GarbageBoxCount").attr('title', data.GarbageBox + "座").tooltip('fixTitle');

                $("#CompressionCount").attr('title', data.compressionStation + "座").tooltip('fixTitle');

                $("#GreeningCount").attr('title', data.Greening + "座").tooltip('fixTitle');

                $("#GreenResidentialCount").attr('title', data.GreenResidential + "座").tooltip('fixTitle');

            }
        });
    }
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        
        $.submitForm({
            url: "/SystemManage/TaskDistributing/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                debugger;
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
</script>
<form id="form1">
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr>
                <th class="formTitle">案件级别</th>
                <td class="formValue">
                    <select id="CityId" name="CityId" class="form-control required"></select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">区县</th>
                <td class="formValue">
                    <select id="CountyId" name="CountyId" class="form-control required"></select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">公司</th>
                <td class="formValue">
                    <select id="CompanyId" name="CompanyId" class="form-control required"></select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">街道</th>
                <td class="formValue">
                    <select id="StreetId" name="StreetId" class="form-control required"></select>
                </td>
            </tr>

            <tr>
                <th class="formTitle">道路清扫</th>
                <td class="formValue">
                    <div class="input-group" style="width:200px">
                        <select id="MainWayId" name="MainWayId" class="form-control required"></select>
                        <div class="input-group-addon">街道</div>
                    </div>
                    <div class="form-inline" style="width:200px">
                        <select id="wayId" name="wayId" class="required"></select>
                    </div>
                    <div class="form-inline" style="width:200px">
                        <input id="WayPlaceCount" name="WayPlaceCount" type="text" class="form-control required number" placeholder="请输入检查几处" />
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">环卫公厕</th>
                <td class="formValue">
                    <div class="input-group" style="width:200px">
                        <input id="TandasCount" name="TandasCount" type="text" class="form-control required number" placeholder="请输入数量" />
                        <div class="input-group-addon">座</div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">倒粪站小便池</th>
                <td class="formValue">
                    <div class="input-group" style="width: 200px">
                        <input id="CesspoolCount" name="CesspoolCount" type="text" class="form-control required number" placeholder="请输入数量" />
                        <div class="input-group-addon">处</div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">垃圾箱房</th>
                <td class="formValue">
                    <div class="input-group" style="width:200px">
                        <input id="GarbageBoxCount" name="GarbageBoxCount" type="text" class="form-control required number" placeholder="请输入数量" />
                        <div class="input-group-addon">座</div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">小压站</th>
                <td class="formValue">
                    <div class="input-group" style="width:200px">
                        <input id="CompressionCount" name="CompressionCount" type="text" class="form-control required number" placeholder="请输入数量" />
                        <div class="input-group-addon">座</div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">沿途绿化</th>
                <td class="formValue">
                    <div class="input-group" style="width:200px">
                        <input id="GreeningCount" name="GreeningCount" type="text" class="form-control required number" placeholder="请输入数量" />
                        <div class="input-group-addon">座</div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">绿色账户小区</th>
                <td class="formValue">
                    <div class="input-group" style="width:200px">
                        <input id="GreenResidentialCount" name="GreenResidentialCount" type="text" class="form-control required number" placeholder="请输入数量" />
                        <div class="input-group-addon">座</div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">被派发人</th>
                <td class="formValue col-md-1">
                    <select id="PersonInChargeId" name="PersonInChargeId" class="form-control required"></select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">完成时间</th>
                <td class="formValue">
                    <input id="CompletionTime" name="CompletionTime" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ startDate: '%y-%M-%D %H:%M:%S', dateFmt: 'yyyy-MM-dd HH:mm:ss', alwaysUseStartDate: true, minDate: '%y-%M-%d %H:%m:%s' })" />
                </td>
            </tr>
        </table>
    </div>

    
</form>
