@{
    ViewBag.Title = "Index";
    Page.BodyStyle = "style='overflow:hidden;'";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<style> 
.toolbar{height:27px; padding-left:2px; margin-top:1px; padding-top:3px; background:#fafbfc; border-top:0px solid #eef1f5;border-bottom:1px solid #f7f8f8; }
.toolbar a{display:inline-block; cursor:default; height:23px; padding:0 2px 0 2px; line-height:23px; border:1px dashed transparent; _border-color:#fafbfc; text-decoration:none; color:#000000;}
.toolbar a:hover{display:inline-block; cursor:default; height:21px; padding:0 2px 0 2px; line-height:21px; border:1px solid #69a9c6; background:#daeef9; text-decoration:none; color:#000000;}
.toolbar a span{padding-left:20px; display:inline-block; cursor:default; background-position:left center; background-repeat:no-repeat;}
.toolbarsplit{background:url(../images/toolbar/split.gif) no-repeat left center; width:2px; margin-left:3px; vertical-align:middle;}
</style> 


<form method="post">
<div class="toolbar" style="margin-top:0; border-top:none 0;">
    <a href="#" onclick="openFlow(); return false;">
        @*<span style="background:url(@Url.Content("~/images/ico/folder_classic.png")) no-repeat left center;">打开</span>*@
        <i class="fa fa-folder-open" style="color:#F7EC8D;padding:3px;font-size:medium"></i>打开
    </a>
    <a href="#" onclick="addFlow(); return false;">
          <i class="fa fa-plus-square" style="color:#00FF00;padding:3px;font-size:medium"></i>新建
    </a>
    <a href="#" onclick="flowAttrSetting(); return false;">
         <i class="fa fa-cogs" style="color:#0000FF;padding:3px;font-size:medium"></i>属性
    </a>



    <a href="#" onclick="addStep(); return false;">
         <i class="fa fa-object-ungroup" style="color:#800000;padding:3px;font-size:medium"></i>步骤
    </a>
    
    <a href="#" onclick="addSubFlow(); return false;">
         <i class="fa fa-object-group " style="color:#CD2626;padding:3px;font-size:medium"></i>子流程
    </a>
   
    <a href="#" onclick="addConn(); return false;">
       <i class="fa fa-random " style="color:#87CEEB;padding:3px;font-size:medium"></i>连线
    </a>
    <a href="#" onclick="copyStep(); return false;">
      <i class="fa fa-copyright" style="color:#8B6508;padding:3px;font-size:medium"></i>复制
    </a>
    <a href="#" onclick="removeObj(); return false;" title="删除当前选定对象">
          <i class="fa fa-trash" style="color:#A52A2A;padding:3px;font-size:medium"></i>删除
    </a>
    <span class="toolbarsplit">&nbsp;</span>

    <a href="#" onclick="saveFlow('save'); return false;">
          <i class="fa fa-check-square" style="color:#33CC33;padding:3px;font-size:medium"></i>保存
    </a>
    <a href="#" onclick="saveAs(); return false;">
         <i class="fa fa-cloud-download" style="color:#F7EC8D;padding:3px;font-size:medium"></i>另存为
    </a>
       
    <span class="toolbarsplit">&nbsp;</span>

    <a href="#" onclick="saveFlow('install'); return false;">
          <i class="fa fa-plus" style="color:#F7EC8D;padding:3px;font-size:medium"></i>安装
    </a>
    <a href="#" onclick="saveFlow('uninstall'); return false;">
        <i class="fa fa-plus" style="color:#F7EC8D;padding:3px;font-size:medium"></i>卸载
    </a>
    <a href="#" onclick="saveFlow('delete'); return false;" title="删除流程">
        <i class="fa fa-times" style="color:#F7EC8D;padding:3px;font-size:medium"></i>删除
    </a>
</div>

<div id="flowdiv" style="margin:0; padding:0;"></div>

    <script src="~/Content/js/FlowDesinger/draw-min.js"></script>
    <script src="~/Content/js/FlowDesinger/workflow.js"></script>

<script type="text/javascript">
    var appid = '@Request.QueryString["appid"]';
    var iframeid = '@Request.QueryString["tabid"]';
    var dialog = top.mainDialog;
</script>
</form>